<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something gone wrong!</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <img src="illustrations/Chemical-01.svg" alt="">
    <h1>OOBE is already passed. Passing it again <b>WILL</b> break GLaDOS. Please click "Go Home"</h1>
    <h3>Error code: OOBE_PASSED</h3>
    <button><a href="/">Go Home</a></button>
</div>
<style>
    button {
        margin-top: 24px;
        background-color: #fafa34;
        border-radius: 10px;
        font-size: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
        border: 0;
        font-family: 'Montserrat', sans-serif;
    }
    button:active {
        background-color: #afaf20;
    }
    a {
        color: black;
        text-decoration: none;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
    }
    h1 {
        text-align: center;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
    }
    div.wrapper {
        text-align: center;
    }
</style>
</body>
</html>