<script>

    // Create JoyStick object into the div 'headJoy'
    var headjoy = new JoyStick('headJoy');
    // set interval between registering new value
    //setInterval(function(){ x.value=headjoy.GetX(); }, 50);

    // Create JoyStick object into the div 'headJoy'
    var bodyjoy = new JoyStick('bodyJoy');
    // set interval between registering new value
    //setInterval(function(){ x.value=bodyjoy.GetX(); }, 50);

</script>
</body>
</html>