<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="joy.js"></script>
    <title>{{title}}</title>
</head>
<body>