<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="icons/favicon.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="js/joy.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div class="top_controls">
    <a href="/settings"><img src="icons/shape-hexagon.svg" class="settings_button"></a>
</div>