{{> header}}

<div class="home-wrapper">
    <div class="home-controller-camera">
        <div class="home-controller-head-buttons">
            <button class="home-controller-head-up"></button>
            <br>
            <button class="home-controller-head-left"></button>
            <button class="home-controller-head-right"></button>
            <br>
            <button class="home-controller-head-down"></button>
        </div>
        <div id="headJoy" class="head-joy" style="width:200px; height:200px; margin-bottom:20px;"></div>
    </div>
    <iframe class="home-camera-display" src="https://example.com"></iframe>
    <div class="home-controller-body">
        <div class="home-controller-body-buttons">
            <button class="home-controller-body-up"></button>
            <br>
            <button class="home-controller-body-left"></button>
            <button class="home-controller-body-right"></button>
            <br>
            <button class="home-controller-body-down"></button>
        </div>
        <div id="bodyJoy" class="body-joy" style="width:200px; height:200px; margin-bottom:20px;"></div>
    </div>
</div>
<img class="home-logo" src="long_logo.png">

{{> footer}}