{{> settingsHeader}}
{{> settingsSidebar}}
<div class="content" style="margin-left: {{content_padding}}px">
    <h1 class="statistics_label">{{label}}</h1>
</div>
<style>
    h1.statistics_label {
        margin-top: 50px;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    /* Style page content */
    .setup {
        margin-left: 300px; /* Same as the width of the sidebar */
        padding: 0 10px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
    }
</style>