<div class="sidebar">
    <a href="/settings"><h1 class="sidebar_label">Settings</h1></a>
    <a href="/settings/appearance" class="sidebar_element">Appearance</a>
    <a href="/settings/gpio" class="sidebar_element">GPIO</a>
    <a href="settings/camera" class="sidebar_element">Camera</a>
    <a href="/settings/audio" class="sidebar_element">Audio</a>
    <a href="/" class="sidebar_element_exit">Go back to Control Panel</a>
</div>