@keyframes appearFromUp {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes appearFromDown {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

h1.home-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 25px;
}
button {
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
	border: 0;
	border-radius: 50px;
box-shadow:  4px 4px 7px #d9d9d9;
	transition-duration: 500ms;
	height: 50px;
	width: 80px;
	margin: 5px;
	margin-left: 10px;
	margin-right: 20px;
}
button:hover {
background: #ffffff;
box-shadow:  7px 7px 14px #d9d9d9;
	transition-duration: 500ms;
}
button:active {
background: #ffffff;
box-shadow:  5px 5px 11px #d9d9d9;
	transition-duration: 500ms;
}
.home-controller-log {
    max-height: 300px;
}
span.home-controller-vars-text {
    position: absolute;
    bottom: 0;
    text-align: center;
}
.home-camera-display {
    display: table-cell;
    border: 5px solid black;
    height: 70%;
    width: 50%;
    position: absolute;
    left: 25%;
    right: 25%;
    margin: 0 auto;
    animation: appearFromUp 1.2s ease-in-out;
}
div.home-wrapper {
    height: 100%;
    width: 100%;
}
div.head-joy {
    margin-right: 10px;
}
div.body-joy {
    margin-left: 10px;
}
h1.controls-heading {
	font-family: 'Montserrat', sans-serif;
}
div.home-controller-camera {
    position: fixed;
    left: 0;
    bottom: 0;
    display: table-cell;
	max-width: 25%;
	text-align: center;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
img.home-logo {
    animation: appearFromDown 1s ease-in-out;
    height: 130px;
    display: block;
    position: fixed;
    bottom: 10px;
    left: 25%;
    right: 25%;
    margin-left: auto;
    margin-right: auto;
}
div.home-controller-body {
    position: fixed;
    right: 0;
    bottom: 0;
    display: table-cell;
	max-width: 50%;
    float: right;
	text-align: center;
    vertical-align: bottom;
    margin-top: 50px;
    margin-right: 50px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}