<html lang="en">
<head>
    <title>GLaDOS Setup: GPIO</title>
    <link rel="icon" href="icons/favicon.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div id="mainContent" class="content">
    <a href="/oobe?page=2"><span class="back">{{back-button}}</span></a>
    <h1 class="main-header">{{main_header}}</h1>
    <h3 class="secondary-header">{{secondary_header}}</h3>
    <br>
    <div id="setup" class="setup">
        <div class="setup-content">
            <div class="variant theme1">
                <!--<a href="">--><img onclick="toggleLightMode()" src="illustrations/lightThemeIcon.svg" alt=""><!--</a>-->
                <h2>{{theme_light}}</h2>
            </div>
            <div class="variant theme2">
                <img onclick="toggleDarkMode()" src="illustrations/darkThemeIcon.svg" alt="">
                <h2>{{theme_dark}}</h2>
            </div>
            <div class="variant theme3">
                <img src="illustrations/systemThemeIcon.svg" alt="">
                <h2>{{theme_system}}</h2>
            </div>
        </div>
    </div>
    <div class="end-buttons">
        <div class="buttons_wrapper">
            <button id="done"><a href="">{{done_button}}</a></button>
        </div>
    </div>
</div>
<style>
    /* Dark mode */
    body.dark {
        background-color: #404040;
        transition-duration: 500ms;
    }
    div.content.dark {
        background-color: #65622f;
        transition-duration: 500ms;
    }
    div.setup.dark {
        background-color: #575a24;
        transition-duration: 500ms;
    }
    div.variant.dark {
        background-color: #848046;
        transition-duration: 500ms;
    }
    span.dark {
        color: white;
        transition-duration: 500ms;
    }
    h3.dark {
        color: rgba(174,174,174,0.57);
    }
    h2.dark {
        color: white;
    }
    /* Light mode */
    body {
        transition-duration: 500ms;
    }
    span.back {
        margin-top: -20px;
        color: #505050;
    }
    span.back:hover {
        color: #000000;
    }
    span.back:active {
        color: #7a7a7a;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    div.setup-content {
        text-align: center;
    }
    div.variant {
        background-color: #FFFBBE;
        border-radius: 20px;
        border: none;
        margin: 20px;
        padding: 20px;
        display: inline-block;
        box-shadow: 5px 9px 20px 0 #44444454;
        transition-duration: 500ms;
    }
    img {
        width: 150px;
        height: 150px;
    }
    h1.main-header {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        font-weight: 500;
    }
    div.end-buttons {
        width: 100%;
    }
    div.buttons_wrapper {
        text-align: end;
    }
    button {
        border-radius: 5px;
        border: none;
        background-color: #f8f8f8;
        margin: 20px 10px 10px;
        padding: 10px;
        transition-duration: 100ms;
        box-shadow: 0 10px 10px rgba(69, 69, 69, 0.44);
        font-family: 'Montserrat', sans-serif;
    }
    button:active {
        border-radius: 5px;
        border: none;
        background-color: #848484;
        margin: 20px 10px 10px;
        padding: 10px;
        transition-duration: 100ms;
        box-shadow: 0 5px 5px rgba(69, 69, 69, 0.44);
        font-family: 'Montserrat', sans-serif;
    }
    h3.secondary-header {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        font-weight: 500;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        color: black;
        margin: 10px;
        text-decoration: none;
    }
    div.setup {
        background-color: #FFF678;
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
        border-radius: 20px;
        transition-duration: 500ms;
    }
    div.content {
        margin: 100px auto 0;
        width: 800px;
        padding: 50px;
        background-color: #FFF994;
        border-radius: 20px;
        transition-duration: 500ms;
    }
</style>
<script>
    let clickedLight = true;
    let clickedDark = false;

    let bodyElement = document.body;
    let mainContentElement = document.getElementById("mainContent");
    let setupElement = document.getElementById("setup")
    let variantElement = document.getElementsByClassName("variant")

    function toggleDarkMode() {
        if (clickedDark === false) {
            bodyElement.classList.toggle("dark");
            mainContentElement.classList.toggle("dark");
            setupElement.classList.toggle("dark");
            variantElement.classList.toggle("dark");
            clickedDark = true;
            clickedLight = false;
        }
    }
    function toggleLightMode() {
        if (clickedLight === false) {
            bodyElement.classList.toggle("dark");
            mainContentElement.classList.toggle("dark");
            setupElement.classList.toggle("dark");
            variantElement.classList.toggle("dark");
            clickedLight = true;
            clickedDark = false;
        }
    }
</script>
</body>
</html>