<html>
<head>
    <title>GLaDOS Setup</title>
</head>
<body>
<div class="content">
    <h1 class="welcome-message">Welcome! Choose your language.</h1>
    <div class="lang-picker">
        <a href="/rest/oobe/setup/lang/en_US">English (United States)</a>
        <br>
        <a href="/rest/oobe/setup/lang/ru_RU">Русский (Россия)</a>
    </div>
</div>
<style>
    h1.welcome-message {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        color: black;
        text-decoration: none;
    }
    div.lang-picker {
        background-color: #ffed47;
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
        border-radius: 20px;
    }
    div.content {
        margin: 100px auto 0;
        width: 550px;
        padding: 50px;
        background-color: #fff53a99;
        border-radius: 20px;
    }
</style>
</body>
</html>