<html>
<head>
    <title>GLaDOS Setup</title>
    <link rel="icon" href="icons/favicon.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="content">
    <h1 class="welcome-message">Welcome! Choose your language.</h1>
    <div class="lang-picker">
        <a href="/rest/oobe/setup/lang/en_US">English (United States)</a>
        <br>
        <br>
        <a href="/?oobe-page=2">Русский (Россия)</a>
        <br>
        <br>
        <a href="/rest/oobe/setup/lang/ua_UA">Українська (Україна)</a>
    </div>
</div>
<style>
    h1.welcome-message {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        color: black;
        margin: 10px;
        text-decoration: none;
        font-size: medium;
    }
    div.lang-picker {
        background-color: #fafafa;
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
        border-radius: 20px;
    }
    div.content {
        margin: 100px auto 0;
        width: 550px;
        padding: 50px;
        background-color: #fff53a99;
        border-radius: 20px;
    }
</style>
</body>
</html>